* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

html {
    background-color: cadetblue;
}

body {
    background-color: white;
    max-width: 1200px;
    border: solid 1px black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "sidebar"
        "footer"
    ;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

header,
nav,
main,
aside,
footer,
div {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

header {
    grid-area: header;
}

nav {
    grid-area: navigation;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

nav ul {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav ul li {
    padding: 10px;
    margin-left: 10px;
    border: 1px solid black;

}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen  and (min-width: 600px) {
    body {
        grid-template-columns: 60% 40%;
        grid-template-areas:
            "header header"
            "navigation navigation"
            "content sidebar"
            "footer footer";
    }

    nav ul{
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }
}

@media screen and (min-width: 960px) {
    body {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            "header header header"
            "navigation content sidebar"
            "footer footer footer";
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}